# Data (too large)
data/raw/
data/processed/*.parquet
data/processed/*.pkl

# Results outputs
results/metrics/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
*.egg-info/

# System
.DS_Store
Thumbs.db